.animacaoCarregando {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotacao 3s linear;
}

@keyframes rotacao {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
